a.btn {
    border: 1px solid $primary_color;
    padding: 15px 25px;
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    &:hover {
        background-color: $primary_color;
        color: $white;
    }
    &.btn-bg1{
        background-color: #EEC964;
        i{
            margin-right: 10px;
        }
    }
    &.btn-bg1:hover{
        background-color: $primary_color;
        color: $white;
    }
}
.slider-btn {
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}



