.featured-product{
    background-position: center;
    background-size: cover;
    .section-product-btn {
        text-align: right;   
    }
    .single-featured-product {
        padding: 45px;
        border: 1px solid #d2cccc;   
        border-radius: 10px;
        background-color: #fdfffe;
        transition: .4s;
        &:hover{
            border: 1px solid $primary_color;
        }
    }
    .featured-product-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: space-between;
    }
    .featured-product-img {
        margin-bottom: 20px;
        text-align: center;
    }
    .featured-product-content {
        margin-bottom: 10px;
        span {
            font-size: 16px;
            text-align: center;
            display: block;
            color: #646373;
            margin-bottom: 5px;   
        }
        h5 {
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
            text-align: center;   
        }
    }
    .featured-product-price {
        span {
            display: block;
            text-align: center;
            font-size: 20px;
            font-weight: 600;   
        }
    }
    .featured-product-rating {
        margin-bottom: 15px;
        text-align: center;   
    }
    .featured-product-btn {
        margin-top: 30px;
        text-align: center;   
    }


}







