.section-title {
    text-transform: capitalize;
    font-size: 30px;
}

.section-title h3 {
    font-size: 30px;
}

.section-title span {
    font-size: 30px;
    color: forestgreen;
    font-weight: 600;
}

.section-title p {
    margin-top: 10px;
    color: #000000;
}